<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://kit.fontawesome.com/6008ea8c30.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #F25200;

        }

        .hero_text {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 60px;
            color: #fff;
        }

        .icon_box {
            display: flex;
            justify-content: center;
        }

        .icon_area {
            padding: 10px;
            background-color: rgb(255, 0, 0);
            margin: 0 20px;
            border-radius: 100%;
        }

        footer {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <main>
        <div class="base">
            <img src="assets/logo_w.png" alt="925 Logo">
            <h2 class="hero_text">Make it Official</h2>
        </div>
    </main>
    <footer>
        <ul class="icon_box">
            <li class="icon_area"><i class="fa-brands fa-twitter" style=" color: #000000;"></i></li>
            <li class="icon_area"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></li>
            <li class="icon_area"><i class="fa-brands fa-instagram" style="color: #000000;"></i></li>
        </ul>
        <table>
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{zip}}</td>
            </tr>
        </table>

    </footer>
</body>

</html>