<html lang="en">

<head>
    <title>Test</title>
    <link rel="stylesheet" href="/dist/src/email/templates/welcome.css">
</head>

<body>
    <footer>
        <div class="base">
            <img src="assets/logo_w.png" alt="925 Logo">
            <h2 class="hero_text">Make it Official</h2>
        </div>
    </footer>
</body>

</html>